<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coroutinexample" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoroutinExample"
        tools:targetApi="31" >
        <activity
            android:name=".coroutine_retrofit.CoroutineRetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".coroutine_step_by_step.CoroutneActivity"
            android:exported="false" />
        <activity
            android:name=".KotlinScopesActivity"
            android:exported="false" />
        <activity
            android:name=".coroutin_example1.CoroutinJobActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>